body {
    margin: 0;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #438db8;
    margin-bottom: 4px;
}

button {
    background: #438db8;
    color: white;
    padding: 10px 20px;
    border: 1px solid #438db8;
    font-weight: bold;
}

#delete-btn {
    background: white;
    color: #438db8;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #438db8;
}


